@charset "utf-8";
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
header{ margin: 5px;
    border: 1px solid rgba(255, 255, 0, 0.527);
    background-color: black;
    color: white;
    height: 150px;
    text-align: center;
}
.texto02{
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
#video{
    text-align: center;
    background-color: black;
    
}
.quemekael{
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.modulo{
 background: blue ;
 background-size: cover;
 background-attachment: fixed;
 margin: 10px;
 padding: 10px;
 border-radius: 25px;
 height: 300px;
}
.modulo>p{
    text-align: justify;
}
.modulo>p,h3,h4{
    background: rgba(0, 0, 0, 0.39);
    font-size: 1.3em;
    color: white;
    text-align: left ;border-radius: 10px;

}
#m01{
    background: url(../imagens/kael-modulo-01.png);
    background-size:cover;
    background-attachment: fixed;
}
#m02{
    background: url(../imagens/imagen-modulo-02.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#m03{
    background: url(../imagens/modulo-3.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#m04{
    background: url(../imagens/modulo-04.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#m05{
    background: url(../imagens/modulo\ 5.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

